*{
    top: 0;
    margin: 0;
    font-family: 'K2D';
}


/*      GENERAL         */

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul{
    list-style: none;
}

h1{
    font-size: 3rem;
    color: #fff;
    -webkit-text-stroke: black 0.75pt;
}

h2{
    font-size: 1.8rem;
    color: black;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}

hr{
    border-style: solid none;
    border-width: 2px;
    width: 20%;
    align-self: center;
}

p{
    font-size: 1.25rem;
    color: #000;
    text-align: center;
}

button{
    height: 3.9vw;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

/*      HEADER      */
header{
    background-color: #fdaf17;
}

nav ul{
    top: 0;
    color: black;
    font-size:1.875rem;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 50px;
}

nav img{
    height: 5vw;
    margin-top: 10px;
    display: block;
}

nav a{    
   
    color: black;
    text-decoration: none;

}

a{
    text-decoration: none;
}

/*    FOOTER     */

footer{
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.footer-link{
    display: flex;
    flex-direction: row;
    width: 90%;
    list-style: none;
}

.footer-link a{
    color: #fdaf17;
    font-size: 1.25rem;
    text-decoration: none;
}

.logo-footer img{
    width: 30vw;
    height: 15vw;
}

.logo-reseaux img{
    height: 7vw;
    width: 7vw;
}

.footer-link ul{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}



/*~~~~~~~~ FORMAT ORDINATEUR ~~~~~~~~*/

        
    /* ~~~~ index.html ~~~~*/
    .top-accueil{
        height: 80vh;
        background: url(./assets/metro_accueil.png) no-repeat center;
        background-size: cover;
        padding-top: 5%;

    }

    .top-accueil hr{
        border-color: #fdaf17;
        width: 90%;
        margin-left: 5%;
    }

    .top-accueil h1{
        color: white;
        text-align: center;
    }

    .container-accueil{
        display: flex ;
        justify-content: space-around;
        align-items: center;
    }

    .container-accueil p{
        color: white;
        width: 448px;
        -webkit-text-stroke: black 0.75pt;
        height: 234px;
        font-size: 1.5rem;
        margin-top: 70px;
        text-align: center;
    }

    .middle-accueil{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle-accueil h2{
        margin-top: 20px;
        width: 35%;
    }

    .middle-accueil p{
        text-align: center;
        margin-top: 20px;
        width: 640px;
    }

    .container-accueil-contact{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-accueil-contact img{
        width: 45.7vw;
        height: 31.25vw;
        margin-top: 50px;
    }

    .texte-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40vh;
    }

    .texte-contact p{
        height: 10vh;
        text-align: left;
        width: 28vw;
    }

    .container-accueil-contact a{
        background-color: #fdaf17;
        margin-top: 10%;
        height: 50px;
        text-align: center;
        font-size: 1.70rem;
        border-radius: 10px;
        border: none;
        width: 256px;
        align-content: center;
        color: #000;
    }

    .bottom-accueil{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .transport{
        text-align: center;
        background-color: #fdaf17;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 250px;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .transport img{
        top: 0px;
        height: 200px;
        width: 100%;
        background-color: white;
        border: black;
        border-style: solid;
    }


    .transport hr{
        border-color: black;
    }

    .transport p{
        margin-top: 1rem;
        text-align: center;
        font-size: 1.25rem;
        width: 200px;
        height: auto;
    }

    /*~~~~ PAGES OFFRES.html ~~~~*/

    .top-offres{
        height: 41.2109375vw;
        background-image: url(/assets/img_offres.png);
        background-size: 100% 100%;
        padding-top: 5%;
        width: 100%;
    }

    .top-offres h1{
        color: white;
        text-align: center;
        font-size: 2rem;
        margin-top:100px;
        margin-left: 70vw;
        margin-right: 3vw;
    }

    .middle-offres{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle-offres h2{
        margin-top: 20px;
        width: 45%;
    }

    .middle-offres p {
        margin-top: 20px;
        width: 65%;
    }

    .container-tableau {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        width: 100%;
    }
    
    .tableau {
        background-color: #fdaf17;
        width: 80%;
        border: black;
        border-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tableau table {
        border-collapse: collapse;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .tableau table th, td{
        border: 0.078vw solid black;
        padding: 0.78vw;
        text-align: center;
    }

    .tarifs {
        background-color: #222222;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarifs h2{
        color: white;
    }

    .tarifs hr{
        border-color: #fdaf17;
    }

    .tarifs p{
        align-items: center;
        color: white;
    }

    .info-transports{
        display: flex;
        flex-direction: column;
    }

    .informations {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .texte-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 9%;
    }

    .bottom-offres{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-offres p{
        width: 75%;
    }

    .bottom-offres img{
        margin-top: 50px;
        width: 100%;
        height: 50vw;
    }

    .legende-carte {
        width: 90%;
        border-style: solid;
        border-color: silver;
    }

    .legende-carte img{
        margin-top: 5px;
        height: 3.9vw;
        width: 4.68vw;
    }

    .legende-carte p{
        align-content: center;
        width: 100%;
    }

    /*~~~~ PAGES CONTACT.html ~~~~*/

    .top-contact{
        height: 41.2109375vw;
        background: url(/assets/img_pge_contact.png);
        background-size: cover;
        padding-top: 5%;
    }

    .top-contact h1{
        margin: 40px;
        margin-right: 9vw;
        -webkit-text-stroke: black 0.75pt;
        text-align: right;
    }

    .top-contact{
        display: flex;
        flex-direction: column;
    }

    .top-contact p{
        width: 30vw;
        margin-left: 66vw;
        text-align: center;
        color: white;
        font-size: 1.75rem;
        -webkit-text-stroke: black 0.75pt;
    }

    .middle-contact{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fdaf17;
        height: 200px;
    }

    .info{
        background-color: #d9d9d9;
        border-radius: 15px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        height: 230.4px;
        width: 256px;
        margin-top: 10vh;
    }

    .info img{
        height: 102.4px;
        width: 115.2px;
        align-self: center;
    }

    .info p{
        align-self: center;
        text-align: center;
        width: auto;
    }

    .formulaire{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 35vh;
    }

    .formulaire-texte{
        text-align: center;
        width: 18vw;
    }

    form{
        background-color: #fdaf17;
        width: 60%;
        border-radius: 10px;
        height: auto;
        margin-bottom: 100px;
    }

    form p{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 9.5vw 1fr;
        grid-template-columns: 1fr 5vw 1fr;
        margin-left: 10px;
        text-align: left;
        width: 300px;
    }

    .nom_form{
        grid-column: 1;
        grid-row: 2;
    }
    
    .email{
        grid-column: 3;
        grid-row: 1;
    }
    
    .email_form{
        grid-column: 3;
        grid-row: 2;
    }
    
    .message{
        grid-column: 1;
        grid-row: 3;
    }
    
    .message_form{
        grid-area: 4 / span 3;
        width: 55vw;    
    }

    .button_envoyer{
        grid-column: 1;
        grid-row: 5;
        width: 40%;
        height: 100%;
    }
    
    textarea{
        width: 256px;
        border-radius: 10px;
        border: none;
        resize: none;
        height: auto;
    }

    form button{
        height: 50px;
        width: 20px;
        text-align: center;
        font-size: 18px;
        background-color: #222222;
        border-radius: 10px;
        border: none;
        color: white;
    }

/*~~~~~~ FORMAT RESONSIVE ~~~~~~*/

@media screen and (max-width: 1277px) {

    nav ul {
        height: 7vh;
        align-items: center;
    }

    nav img{
        height: 7vw;
    }

    header a{
        font-size: 2.5rem;
    }

    .top-accueil {
        height: 40vw;
    }

}

@media screen and (max-width: 1104px) {

    .container-accueil-contact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }

    .texte-contact{
        height: 300px;
    }

    .texte-contact p{
        align-self: center;
        width: 90%;
        text-align: center;
    }

    .texte-contact a{
        align-self: center;
    }

    .bottom-accueil {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .formulaire{
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulaire-texte{
        width: 80%;
    }

    .formulaire-texte h2{
        width: 100%;
    }

    form {
        margin-top: 20px;
    }

    form p{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 100px 1fr 1fr;
        grid-template-columns: 1fr;
        margin-left: 10px;
        text-align: left;
        width: 23.4375vw;
    }

    .nom_form{
        width: 55vw;
    }

    .email{
        grid-column: 1;
        grid-row: 3;
    }
    
    .email_form{
        grid-column: 1;
        grid-row: 4;
        width: 55vw;
    }
    
    .message{
        grid-column: 1;
        grid-row: 5;
    }
    
    .message_form{
        grid-area: 6 / span 2;
        width: 55vw;
    }

    .button_envoyer{
        margin-top: 10px;
        grid-column: 1;
        grid-row: 7;
        width: 25vw;
        height: 30px;
    }
}

@media screen and (max-width: 905px) {
    
    h2{
        width: 100vw;
    }
    
    nav a{
        font-size: 25px;
    }

    .top-accueil{
        height: 100vh;
    }

    .container-accueil{
        flex-direction: column;
        height: 50vw;
        width: 90%;
        margin-top: 50px;
        margin-left: 5%;
        background-color: #fdaf17;
    }

    .container-accueil-contact img{
        align-self: center;
    }

    .container-accueil p{
        margin-top: 10px;
    }

    .middle-accueil p{
        width: 90%;
    }

    .texte-contact a{
        width: 250px;
        height: 50px;
    }

    .top-offres{
        height: 60vh;
    }

    .top-offres h1{
        margin-left: 5%;
        width: 90%;
        align-self: center;
        color: white;
    }

    .container-tableau{
        display: flex;
        flex-direction: column-reverse;
    }

    .tableau{
        width: 100%;
        border: none;
    }

    .tarifs{
        width: 100%;
    }

    .informations {
        display: flex;
        flex-direction: column;
    }

    .informations img{
        height: 50vw;
        width: 60vw;
        align-self: center;
    }
    
    .gauche {
        display: flex;
        flex-direction: column-reverse;
    }

    .top-contact h1{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .top-contact p{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }


}

@media screen and (max-width: 676px) {

    .logo-footer img{
        height: 30vw;
        width: 45vw;
    }

    .logo-reseaux img{
        height: 10vw;
        width: 10vw;
    }

    .footer-link ul{
        display: flex;
        flex-direction: column;
        margin-top: 0 ;
    }

    .top-contact{
        height: 50vh;
    }

    .middle-contact{
        background: url(/assets/info.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
    }     

    .middle-accueil img{
        height: 70vw;
        width: 90vw;
    }
    
}

@media screen and (max-width:580px) {
    nav ul{
        height: 10vh;
        margin-left: -15%;
        width: 100%;
        justify-content: none;
    }

    nav img{
        display: none;
    }

    header a{
        font-size: 1rem;
    }

    .top-accueil h1{
        font-size: 2rem;
    }

    .container-accueil p{
        font-size: 1.10rem;
        width: 90%;
    }

    .middle-accueil h2{
        width: 90%;
    }

    table{
        font-size: 0.63rem;
    }

    .top-contact h1{
        font-size: 2rem;
    }

    .top-contact p{
        font-size: 1rem;
    }

    .middle-offres h2 {
        width: 90%;
    }

    form{
        width: 65%;
        margin-left: 0px;
    }
}

@media screen and (max-width:425px) {

    .container-accueil{
        height: 90vw;
    }

    .top-offres{
        height: 80vw;
    }

    .top-offres h1{
        margin-top: -10px;
    }
}